.formPage {
  width: 100%;
  height: 100vh;
  background: url("https://raw.githubusercontent.com/Sedric14/assets/main/graphQL/back_GraphQL.jpg");

  .form {
    background-color: #000000b8;
    position: relative;
    width: 600px;
    height: 480px;
    border: 3px solid aliceblue;
    border-radius: 10px;
    top: 150px;
    left: calc((100vw - 600px)/2);
    align-content: center;
    padding-top: 40px;

    .formHead {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
      // color: aliceblue;
    }

    .label {
      width: 100px;
      text-align: end;
      position: relative;
      left: 80px;
      // color: aliceblue;

      .input {
        // border: 2px solid aliceblue;
        border-radius: 5px;
        background-color: #ffffff18;
        position: relative;
        left: 100px;
        bottom: 25px;
        margin-left: 20px;
        color: rgb(187, 211, 255);
        font-size: 120%;
        width: 300px;
        height: 35px;
        padding: 0 10px;
      }
    }

    .form-control {
      margin-top: -10px;
      width: 100%;
      color: coral;
      text-align: center;
    }

    .submit {
      position: relative;
      left: 330px;
      // color: aliceblue;
      height: 50px;
      width: 120px;
      line-height: 50px;
      font-size: 120%;
      background-color: #ffffff00;
      border-radius: 5px;
      border: 3px solid black;

      &:hover {
        color: cornflowerblue;
        border: 3px solid cornflowerblue;
      }
    }

    .googleBtn {
      background: url("https://raw.githubusercontent.com/Sedric14/assets/main/graphQL/google_icon.png");
      background-size: cover;
      position: relative;
      left: 80px;
      top: 20px;
      width: 50px;
      height: 50px;
      border-radius: 25px;
    }

    .upLink {
      cursor: pointer;
      position: relative;
      top: 20px;
      left: 250px;
      color: aliceblue;
      width: 100px;
      text-align: center;

      &:hover {
        color: cornflowerblue;
      }
    }

    .linkLight{
      font-weight: 600;
      cursor: pointer;
      position: relative;
      top: 20px;
      left: 250px;
      color: black;
      width: 100px;
      text-align: center;

      &:hover {
        color: cornflowerblue;
        text-shadow: 0 0 5px black;
      }
    }
  }
}
