.formPage {
  width: 100%;
  height: 100vh;
  background: url("https://raw.githubusercontent.com/Sedric14/assets/main/graphQL/back_GraphQL.jpg");

  .form {
    background-color: #000000b8;
    position: relative;
    width: 600px;
    padding: 20px 0;
    border: 3px solid aliceblue;
    border-radius: 10px;
    top: 150px;
    left: calc((100vw - 600px) / 2);
    align-content: center;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .formHead {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }
    .input-wrap {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      .label {
        flex-basis: 42%;
        white-space: nowrap;
      }
      .input {
        display: inline-block;
        border-radius: 5px;
        background-color: #ffffff18;
        font-size: 120%;
        width: 100%;
        height: 35px;
        padding: 0 10px;
      }
    }
    .form-control {
      width: 100%;
      color: coral;
      text-align: center;
    }

    .form-control-light{
      width: 100%;
      color: rgb(90, 30, 8);
      text-align: center;
    }

    .submit {
      display: block;
      height: 50px;
      width: 70%;
      margin: 15px auto;
      @include adaptiv-value("line-height", 20, 35);
      @include adaptiv-value("font-size", 20, 15);
      background-color: #ffffff00;
      border-radius: 5px;
      text-decoration-color: #ffffff00;
    }

    .googleBtn {
      background: url("https://raw.githubusercontent.com/Sedric14/assets/main/graphQL/google_icon.png");
      background-size: cover;
      position: relative;
      left: 80px;
      top: 20px;
      width: 50px;
      height: 50px;
      border-radius: 25px;
    }

    .upLink {
      cursor: pointer;
      color: aliceblue;
      width: 100%;
      text-align: center;

      &:hover {
        color: cornflowerblue;
      }
    }

    .linkLight {
      font-weight: 600;
      cursor: pointer;
      position: relative;
      // top: 20px;
      // left: 250px;
      color: black;
      width: 100%;
      text-align: center;

      &:hover {
        color: #083a96;
      }
    }

    @media (max-width: 750px) {
      width: 80vw;
      left: 10vw;
      margin: 0;

      .input-wrap {
        flex-direction: column;
      }
      .label {
        margin-bottom: 5px;
      }
    }
  }
}
