.variables {
  border-bottom: 1px solid rgb(15, 93, 162);
  border-right: 1px solid rgb(15, 92, 159);

    &__btn {
      border: none;
      position: absolute;
      z-index: 1;
      background-color: rgba(30, 30, 30, 0);
      width: 50%;
      text-align: start;
      padding-left: 20px;
      cursor: pointer;
      // margin: 10px 0 5px 0;
    }
}
