.variables {
  height: 12vh;
  display: block;
  margin: 10px 0;

  &__btn {
    padding-left: 20px;
    position: relative;
    border: none;
    z-index: 1;
    width: 50%;
    margin: 0;
    text-align: start;
    cursor: pointer;
  }
}
