.routeRow {
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: start;
    gap: 20px;
    margin-bottom: 30px;
    width: 100%;
    &__input {
      border: 3px solid black;
      margin-left: 20px;
      width: 90%;
      border-radius: 5px;
      background-color: #31313100;
      height: 50px;
      padding: 0 10px;
      font-size: 120%;
    }
    &__label {
      width: 100%;
        padding-right: 230px;
        font-weight: 600;
        font-size: 120%;
    }

    &__button {
      position: relative;
      margin-right: 20px;
      height: 50px;
      width: 200px;
      line-height: 50px;
      font-size: 120%;
      background-color: #ffffff00;
      border-radius: 5px;
      border: 3px solid aliceblue;
      :hover{
        color: #052157;
        border: 3px solid #052157;
      }
    }
}
