.routeRow {
    // grid-column-start: 1;
    // grid-column-end: 4;
    display: flex;
    justify-content:flex-start;
    gap: 20px;
    margin-bottom: 30px;
    width: 99%;
    flex-wrap: wrap;

  &__buttonsBlock{
    display: flex;
    // min-width: 330px;
    justify-content: space-between;

    @media(max-width: 1000px){
      // padding: 0 1.5%;
      margin-left: 20px;
      width: 95%;
    }
  }

    &__input {
      border: 3px solid black;
      margin-left: 20px;
      width: 95%;
      border-radius: 5px;
      background-color: #31313100;
      height: 50px;
      padding: 0 10px;
      font-size: 120%;
    }
    &__label {
      flex-grow: 1;
      font-weight: 600;
      font-size: 120%;
    }

    &__button {
      height: 50px;
      line-height: 50px;
      background-color: #ffffff00;
      border-radius: 5px;
    }
}
