.editor {
    position: relative;
    &__button {
        position: absolute;
        width: 100%;
        height: 70px;
        bottom: 35px;
        left: 0;
        text-align: center;
        vertical-align: middle;
    }
    &__settingRow {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}
