.editor {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
    max-height: 78vh;

    &__button {
      color: aliceblue;
      position: absolute;
      height: 50px;
      bottom: 30px;
      width: 150px;
      left: calc(50vw - 170px);
      font-weight: 600;
      text-align: center;
      vertical-align: middle;
      border: 3px solid aliceblue;
      border-radius: 5px;
      background-color: #ffffff00;
    }
    &__settingRow {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      bottom: 0;
      width: 100%;
      height: 25vh;
      margin-top: 0px;
    }

    @media(max-width: 1000px){
      width: 90vw;

      &__button{
        left: calc(90vw - 170px);
      }
    }
}
