.editor {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
    max-height: 78vh;

    &__button {
      color: aliceblue;
      position: absolute;
      height: 50px;
      bottom: 70px;
      width: fit-content;
      left: 43vw;
      font-weight: 600;
      text-align: center;
      vertical-align: middle;
      border: 3px solid aliceblue;
      border-radius: 5px;
      background-color: #ffffff00;
    }
    &__settingRow {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // position: absolute;
      bottom: 0;
      width: 100%;
      height: 25vh;
    }
}
