@import "../../styles/mixins.scss";
.nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  opacity: 98%;

  &__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;

    &_item {
      margin: 0 20px;
      a {
        text-decoration: none;
        color: rgb(40, 40, 40);
        transition: all 250ms ease;
      }
      a[class="active"] {
        color: white;
        text-shadow: 0px 0px 3px #d9d9d9, 0px 0px 2px #000000;
      }

      a:hover {
        cursor: pointer;
        color: rgb(157, 157, 157);
      }
    }
  }
}
.signButton {
  @include adaptiv-value("line-height", 50, 40);
  @include adaptiv-value("height", 50, 40);
  @include adaptiv-value("width", 120, 80);
  @include adaptiv-value("font-size", 25, 15);
  font-weight: 600;
  background-color: #ffffff00;
  border-radius: 5px;
  line-height: 1.1 !important;
}
.appBar {
  animation: slideDown 0.35s ease-out;
  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
}


