.nav {
  height: 70px;
  width: 100%;
  background: grey;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0px;
  opacity: 98%;

  &__list {
    list-style-type: none;
    display: flex;
    margin: 0;

    &_item {
      margin: 0 20px;
      a {
        text-decoration: none;
        color: rgb(40, 40, 40);
        transition: all 250ms ease;
      }
      a[class='active'] {
        color: white;
        text-shadow: 0px 0px 3px #d9d9d9, 0px 0px 2px #000000;
      }

      a:hover {
        cursor: pointer;
        color: rgb(157, 157, 157);
      }
    }
  }
}
