.main {
  padding: 50px;
  padding-top: 100px;
  max-width: 100%;
  margin: 0px auto 40px auto;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 70px 1fr 1fr;
  justify-content: space-between;
  height: 100vh;
  column-gap: 20px;

  .cm-editor{
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0;
    width: 100%;
    height: 10vh;
    background-color: hsla(0, 0%, 42%, 0.5);

    .cm-gutters{
      margin: 0;
      background-color: #ffffff00;
    }
  }

  .editBlock{
    position: relative;
    height: 50vh;
    .cm-editor{
      height: 50vh;
    }
  }

  .response{
    position: relative;
    height: 70vh;
    .cm-editor{
      height: 77vh;
    }
  }
}


