.main {
  padding: 50px;
  padding-top: 100px;
  max-width: 100%;
  margin: 0px auto 100px auto;
  display: flex;
  flex-direction: column;
  // grid-template-columns: 1fr 1.5fr;
  // grid-template-rows: 70px 1fr 1fr;
  justify-content: space-between;
  height: fit-content;
  column-gap: 20px;

  .cm-editor{
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0;
    width: 100%;
    height: 10vh;
    background-color: hsl(0, 0%, 14%);

    .cm-gutters{
      margin: 0;
      color: #05050578;
      background-color: #ffffff00;

      @media(max-width: 750px){
        width: 50px;
      }
      @media(max-width: 400px){
        display: none;
      }
    }
  }

  .mainWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70vh;
    position: relative;
    top: -3vh;
    gap: 20px;

    .editBlock {
      position: relative;
      height: 45vh;

      .cm-editor {
        height: 45vh;
      }
    }

    .response {
      position: relative;
      height: 77vh;
      width: calc(40vw - 10px);
      margin-left: 10px;

      .respHeader{
        display: none;
      }

      @media(max-width: 1000px){
        width: 90vw;
        margin-left: 0;
        margin-top: 40px;
        height: fit-content;

        .respHeader{
          display: block;
          padding-left: 20px;
        }
      }

      .cm-editor {
        height: calc(73vh);

        @media(max-width: 1000px){
          margin-bottom: 50px;
        }
      }
    }

    @media(max-width: 1000px){
      flex-direction: column;
    }
  }

  @media(max-width: 1000px){
    padding: 5vh 5vw;
    padding-top: 100px;
  }
}


