.main {
    max-width: 1280px;
    margin: 100px auto 40px auto;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 70px 1fr 1fr;
    justify-content: space-between;
    height: 83vh;
    column-gap: 20px;
}
