.headers {
  height: 12vh;
  display: block;
  margin: 10px 0;
  // background-color: #319d3f8c;
  &__btn {
    padding-left: 20px;
    position: relative;
    border: none;
    z-index: 1;
    width: 50%;
    height: 20px;
    text-align: start;
    cursor: pointer;
  }
}
